<a href="https://colab.research.google.com/github/itz-mehku/Mini-Project-02/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# **Mini Project - 02 : CHALLENGE QUESTION**
---

## Python program to sort the list of heterogeneous data:
---> Example 1 :

L= ["Ram",1,"Shyam",2,"Aman",3]
Print(L)

L.sort()

Print(L)
#### # Above code gives error, Correct it.



**-> Above code :**

In [ ]:
L= ["Ram",1,"Shyam",2,"Aman",3]
print(L)
L.sort()
print(L)

['Ram', 1, 'Shyam', 2, 'Aman', 3]

TypeError: '<' not supported between instances of 'int' and 'str'

**-> Corrected code :**

In [ ]:
L = ['Ram', 1, 'Shyam', 2, 'Aman', 3]
print("Original List:",L)
L1=[]
L2=[]
for i in L:
  try:
    L1.append(int(i))
  except:
    L2.append(i)
L1.sort()
L2.sort()
L3=L1+L2
print("Sorted List:",L3)

Original List: ['Ram', 1, 'Shyam', 2, 'Aman', 3]
Sorted List: [1, 2, 3, 'Aman', 'Ram', 'Shyam']

###---> Example 2 :

L = ["banana", 7, "apple", 2, "grape", 5]
Print(L)

L.sort()

Print(L)
#### # Above code gives error, Correct it.

**-> Above code :**

In [ ]:
L= ["banana", 7, "apple", 2, "grape", 5]
print(L)
L.sort()
print(L)

['banana', 7, 'apple', 2, 'grape', 5]

TypeError: '<' not supported between instances of 'int' and 'str'

**-> Corrected code :**

In [ ]:
L= ["banana", 7, "apple", 2, "grape", 5]
print("Original List:",L)
L1=[]
L2=[]
for i in L:
  try:
    L1.append(int(i))
  except:
    L2.append(i)
L1.sort()
L2.sort()
L3=L1+L2
print("Sorted List:",L3)

Original List: ['banana', 7, 'apple', 2, 'grape', 5]
Sorted List: [2, 5, 7, 'apple', 'banana', 'grape']

---
### ** **Assignment Completed** **
---